a {
	text-decoration:none;
}

table.std {
	color: #222;
	background-color: #BBB;
	border-spacing: 0;
	border-collapse: collapse;
	border: 1px solid #9EADBA;
}



.tblrow1 {
	padding: 3px;
	background-color: #FFF;
	border-top: 1px solid #F0F0F0;
}
.tblrow2 {
	padding: 3px;
	background-color: #FAFAFA;
	border-top: 1px solid #F0F0F0;
}
/* tables */
div.ilTableHeaderTitleBlock {
	font-weight: bold;
	padding: 3px;
	font-size: 90%;
	color: #404040;
	background: url(images/block_top.png) repeat-x #F8F8F8;
	border-bottom: 1px solid #E9E9E9;
}

div.ilTableHeaderTitle {
	margin: 0 0 5px 0;
	padding: 0 0 2px 0;
	font-size: 120%;
	color: #404040;
	border-bottom: 1px solid #E9E9E9;
}

h3.ilTableHeaderTitleBlock {
	font-weight: bold;
	font-size: 100%;
	display: inline;
	padding: 0;
	margin: 0;
}

h3.ilTableHeaderTitle {
	font-weight: normal;
	font-size: 100%;
	display: inline;
	padding: 0;
	margin: 0;
}



div.ilTableOuter {
	border: 1px solid #D6D6D6;
	padding: 0;
}



table.fullwidth {
	background-color: #FFF;
	width: 100%;
	border-collapse: collapse;
}


.tblheader {
	font-weight: normal;
}

tr.tblheader {
	font-weight: normal;
	background-color: #F9F9F9;
	font-size: 90%;
	border-bottom: 1px solid #D6D6D6;
}


div.ilTableHeaderTitle {
	margin: 0 0 5px 0;
	padding: 0 0 2px 0;
	font-size: 120%;
	color: #404040;
	border-bottom: 1px solid #E9E9E9;
}