<div class="ilPositionRelative">
	<!-- BEGIN row -->
	<div id="ilFormField~{ID}~{ROW}">
		{TXT_PARTICIPANT} <input type="text"  size="40" maxlength="120" />
		<input align="absmiddle" type="image" id="ilMultiAdd~{ID}~{ROW}" src="{IMG_MULTI_ADD}" alt="{TXT_MULTI_ADD}" title="{TXT_MULTI_ADD}" onclick="javascript: return false;" class="{ADD_CLASS}" />
		<input align="absmiddle" type="image" id="ilMultiRmv~{ID}~{ROW}" src="{IMG_MULTI_REMOVE}" alt="{TXT_MULTI_REMOVE}" title="{TXT_MULTI_REMOVE}"  onclick="javascript: return false;" class="{RMV_CLASS}" />
		<br />
	</div>
	<!-- END row -->
</div>