<tr class="{CSS_ROW} small">
	<!-- BEGIN room -->
	<td class="std">
		<a href="{HREF_ROOM}">{TXT_ROOM}</a>
	</td>
    <!-- END room -->
	<!-- BEGIN seats -->
    <td class="std">
		{TXT_SEATS}
	</td>
    <!-- END seats -->
	<td class="std">
        <!--  BEGIN attributes -->
		{TXT_AMOUNT} {TXT_ATTRIBUTE}{TXT_SEPARATOR}
        <!--  END attributes -->
	</td>
	<td class="std">
        <!-- BEGIN actions -->
		<div class="ilFloatRight">
		  <a class="il_ContainerItemCommand2" href="{LINK_ACTION}">{LINK_ACTION_TXT}</a>&nbsp;&nbsp
		</div> {LINK_ACTION_SEPARATOR}
        <!-- END actions -->
	</td>
</tr>
