<tr nobr="true" class="{CSS_ROW} small">

    <!-- BEGIN date_recurrence -->
    <td class="std">
		<img src="{IMG_RECURRENCE_PATH}" alt="{IMG_RECURRENCE_ALT}" title="{IMG_RECURRENCE_TITLE}" /> {IMG_RECURRENCE_ALT}
	</td>
    	<!-- END date_recurrence -->
        <!-- BEGIN date_recurrence_replacement -->
    <td class ="std">
        {TXT_BLANK}
    </td>
<!-- END date_recurrence_replacement -->
	<!-- BEGIN date -->
	<td class="std">
		{TXT_DATE}
	</td>
	<!-- END date -->
    <!--  BEGIN room -->
	<td class="std">
		{TXT_ROOM}
	</td>
	<!--  END room -->
	<!--  BEGIN subject -->
	<td class="std">
		{TXT_SUBJECT}
	</td>
	<!--  END subject -->
	<td class="std">
        <!--  BEGIN participants -->
		{TXT_USER}{TXT_SEPARATOR}
        <!--  END participants -->
	</td>
    <!-- BEGIN additional -->
	<td class="std">
		{TXT_ADDITIONAL}
	</td>
	<!-- END additional -->
	
</tr>
