<tr style="font-size:8px;" class="{CSS_ROW} small">

    <!-- BEGIN col_time -->
	<td class="std">
		{COL_TIME}
	</td>
	<!-- END col_time -->

    <!-- BEGIN col_day1 -->
	<td{BG_COLOR} class="std">
        {COL_DAY1}
	</td>
	<!-- END col_day1 -->

    <!-- BEGIN col_day2 -->
	<td{BG_COLOR} class="std">
		{COL_DAY2}
	</td>
	<!-- END col_day2 -->

    <!-- BEGIN col_day3 -->
	<td{BG_COLOR} class="std">
		{COL_DAY3}
	</td>
	<!-- END col_day3 -->

    <!-- BEGIN col_day4 -->
	<td{BG_COLOR} class="std">
		{COL_DAY4}
	</td>
	<!-- END col_day4 -->

    <!-- BEGIN col_day5 -->
	<td{BG_COLOR} class="std">
		{COL_DAY5}
	</td>
	<!-- END col_day5 -->

    <!-- BEGIN col_day6 -->
	<td{BG_COLOR} class="std">
		{COL_DAY6}
	</td>
	<!-- END col_day6 -->

    <!-- BEGIN col_day7 -->
	<td{BG_COLOR} class="std">
		{COL_DAY7}
	</td>
	<!-- END col_day7 -->
	
</tr>
